.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
  padding-bottom: 100px;
  margin: 0;
}

.title-cart {
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  margin: 10px 15px 30px 56px;
}

.spacing-products {
  margin-left: 50px;
}

.product-cart-checkout {
  padding: 30px;
  margin-top: 15px;
  border-radius: 0px;
  background: #ffffff;
  box-shadow: 20px 20px 40px #d1d1d1, -20px -20px 40px #ffffff;
}

.product-subtotal {
  text-align: end;
}

.subtotal-cart-checkout {
  padding: 15px;
  font-weight: 700;
}

.checkout.ad {
  width: 100%;
  margin-bottom: 10px;
}

.container-valueTotal {
  max-width: 500px;
  max-height: 100px;
  margin-left: 30px;
  margin-top: 75px;
}

.valueTotal {
  font-size: medium;
  padding: 100px;
  border-radius: 0px;
  background: #ffffff;
  box-shadow: 20px 20px 40px #d1d1d1, -20px -20px 40px #ffffff;
  text-align: center;
}

.titleTotal {
  font-size: x-large;
  font-weight: 500;
  color: #000000a1;
}

.valueTotal-price {
  font-size: 30px;
  font-weight: 700;
}

.shopping_cart_tittle > button {
  background-color: rgb(120, 217, 138);
  border: 1px solid;
  border-color: #42ad8a #46bba2 #1ac5a0;
  border-radius: 10px;
  font-size: 16px;
  padding: 10px 10px;
  margin-left: 750px;
}

.btn-adc-products {
  float: right;
  margin-top: 30px;
}

.btn-confirm {
  float: right;
  margin-top: 30px;
}

.btn-finalized {
  background-color: rgb(120, 217, 138) !important;
  margin-top: 10px !important;
}
