.footer-area {
  background-color: rgb(8, 1, 42);
  width: 100%;
  min-height: 100px;
  color: white;
}

.footer-areaTop {
  background-color: rgb(8, 1, 42);
  min-height: 60px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.footer-area-links {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100px;
}
