.header {
  background-color: rgb(8, 1, 42);
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-logo {
  width: 100px;
  margin: 0 20px;
  margin-top: 18px;
  margin-bottom: 18px;
  object-fit: contain;
}

.header-search {
  display: flex;
  flex: 1;
}

.header-searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header-searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: rgb(120, 217, 138);
}

.header-link {
  color: white;
  text-decoration: none;
}

.header-option {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  margin-right: 12px;
}

.header-optionLineOne {
  font-size: 13px;
}

.header-optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header-optionCart {
  display: flex;
  align-items: center;
}

.header-cartCount {
  margin-left: 10px;
  margin-right: 10px;
}
